*,::before,::after {
box-sizing:border-box;
}

:root {
-moz-tab-size:4;
tab-size:4;
}

html {
-webkit-text-size-adjust:100%;
line-height:1.15;
}

body {
font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
margin:0;
}

hr {
color:inherit;
height:0;
}

abbr[title] {
text-decoration:underline dotted;
}

b,strong {
font-weight:bolder;
}

code,kbd,samp,pre {
font-family:'Iosevka Web',ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
font-size:1em;
}

small {
font-size:80%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sub {
bottom:-.25em;
}

sup {
top:-.5em;
}

button,input,optgroup,select,textarea {
font-family:inherit;
font-size:100%;
line-height:1.15;
margin:0;
}

button,select {
text-transform:none;
}

button,[type='button'],[type='reset'],[type='submit'] {
-webkit-appearance:button;
}

::-moz-focus-inner {
border-style:none;
padding:0;
}

:-moz-focusring {
outline:1px dotted ButtonText;
}

:-moz-ui-invalid {
box-shadow:none;
}

legend {
padding:0;
}

progress {
vertical-align:baseline;
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
height:auto;
}

[type='search'] {
-webkit-appearance:textfield;
outline-offset:-2px;
}

::-webkit-search-decoration {
-webkit-appearance:none;
}

::-webkit-file-upload-button {
-webkit-appearance:button;
font:inherit;
}

summary {
display:list-item;
}

.hljs {
background:#fcfcfc;
color:#24292e;
font-family:'Iosevka Web';
}

.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_ {
color:#d73a49;
}

.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_ {
color:#6f42c1;
}

.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-variable,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id {
color:#005cc5;
}

.hljs-regexp,.hljs-string,.hljs-meta .hljs-string {
color:#032f62;
}

.hljs-built_in,.hljs-symbol {
color:#e36209;
}

.hljs-comment,.hljs-code,.hljs-formula {
color:#6a737d;
}

.hljs-name,.hljs-quote,.hljs-selector-tag,.hljs-selector-pseudo {
color:#22863a;
}

.hljs-subst {
color:#24292e;
}

.hljs-section {
color:#005cc5;
font-weight:700;
}

.hljs-bullet {
color:#735c0f;
}

.hljs-emphasis {
color:#24292e;
font-style:italic;
}

.hljs-strong {
color:#24292e;
font-weight:700;
}

.hljs-addition {
background-color:#f0fff4;
color:#22863a;
}

.hljs-deletion {
background-color:#ffeef0;
color:#b31d28;
}

::-webkit-scrollbar {
width:1rem;
}

::-webkit-scrollbar-track {
background:transparent;
}

::-webkit-scrollbar-thumb {
background-color:#652585;
}

a,a:link {
font-weight:700;
}

a:hover,a:not(.tc-tiddlylink):hover,a:not(.tc-tiddlylink):link:hover,a:not(.tc-tiddlylink):visited:hover,a:not(.tc-tiddlylink).tc-tiddlylink-external:hover {
background-color:#652585;
color:#fff;
}

a.tc-tiddlylink:hover {
text-decoration:none;
}

a:not(.tc-tiddlylink),a:not(.tc-tiddlylink):link,a:not(.tc-tiddlylink):visited {
color:#652585;
text-decoration:none;
white-space:nowrap;
}

a.tc-tiddlylink-external:after {
content:"➜";
display:inline-block;
transform:rotate(-45deg);
}

code a,pre a,code a:not(.tc-tiddlylink),code a:not(.tc-tiddlylink):link,code a:not(.tc-tiddlylink):visited,pre a:not(.tc-tiddlylink),pre a:not(.tc-tiddlylink):link,pre a:not(.tc-tiddlylink):visited {
color:inherit;
font-weight:inherit;
}

code a.tc-tiddlylink-external:after,pre a.tc-tiddlylink-external:after {
display:none;
}

.tc-tiddler-frame:nth-last-of-type(1) {
border:none;
}

.tc-site-title {
align-items:center;
display:flex;
font-family:'Iosevka Web',ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
justify-content:center;
}

.tc-site-title > a.tc-tiddlylink {
border:none;
color:#9780AA;
font-weight:700;
text-transform:lowercase;
}

.tc-site-title > a.tc-tiddlylink:hover {
background:none;
color:#653585;
}

.eu {
border-radius:100%;
margin-right:10px;
}

.tc-dropzone > p {
display:none;
margin:0;
padding:0;
}

.tc-sidebar-lists input {
border:1px solid #652585;
}

.lowercase {
text-transform:lowercase;
}

.krystal-tiddler__title > a.tc-tiddlylink-resolves:hover {
background:transparent;
}

.tc-improvement-banner {
align-items:center;
background:#F1EDF2;
border:1px solid #652585;
display:flex;
font-size:.75rem;
margin:.25rem 0 0;
padding:.25rem .5em;
}

.tc-improvement-banner img {
height:1.5em;
margin-right:.5em;
width:1.5em;
}

.krystal-tiddler__frame--maximized .tc-tiddler-title,
.krystal-tiddler__frame--maximized .tc-subtitle,
.krystal-tiddler__frame--maximized .tc-tags-wrapper,
.krystal-tiddler__frame--maximized .tc-tiddler-body,
.krystal-tiddler__frame--maximized .tc-reveal,
.krystal-tiddler__frame--maximized .krystal-references {
margin-left:auto;
margin-right:auto;
max-width:720px;
width:100%;
}

div[data-tiddler-title="Conteúdo"] .tc-tags-wrapper,div[data-tiddler-title="Conteúdo"] .krystal-references,div[data-tiddler-title="Index"] .tc-tags-wrapper,div[data-tiddler-title="Index"] .krystal-references {
display:none;
}

.tc-sidebar-lists input {
margin:0 .5em;
padding:.5em;
}

.tc-search button svg,.tc-search a svg {
height:1.5em;
margin:0 .25em;
width:1.5em;
}

.tc-tagged-Artigos .tc-tiddler-body.tc-reveal {
line-height:1.618;
}

.tc-tagged-Artigos ul li {
margin-bottom:1rem;
}

.tc-tagged-Artigos hr,
.tc-tagged-Desenvolvimento hr, 
.tc-tagged-Index hr {
border-top:1px solid #f4f4f4;
margin:0 auto;
width:80%;
}

button[title*="Copiar"] {
font-family:'Iosevka Web',monospace;
font-weight:700;
margin:0 0 .5rem;
text-transform:uppercase;
color:#652585;
background:#fcfcfc;
}

figure {
margin:0;
text-align:center;
}

figure figcaption {
color:#333;
font-size:.8rem;
}

.share-post {
margin-top:1rem;
display: flex;
justify-content:right;
}

.share-post a,.share-post a:hover {
background:none;
background:#652585;
display:block;
margin:0;
padding:.5rem;
}

.share-post a svg {
display:block;
fill:#fff;
height:24px;
width:24px;
}

.share-post ul {
align-items:center;
display:flex;
justify-content:right;
list-style:none;
margin:0;
padding:0;
}

.share-post ul li {
margin:0 0 0 .5rem;
}

.share-post-claps {
	margin-left: 1rem;
	height: 58px;
	width: 58px;
}

.share-post-claps applause-button .style-root:after {
border: 2px solid;
}

.share-post-claps applause-button .count-container .count {
color: #652585;
font-weight: bold;
font-family:'Iosevka Web',ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
}

.share-post-claps applause-button.clapped.clap.clap-limit-exceeded div .shockwave {
    background: #652585;
}

.share-post-claps applause-button.clapped.clap.clap-limit-exceeded div {
    fill: #fff !important;
    stroke: #fff !important;
    color: #652585 !important;
}

.share-post-claps applause-button.clapped.clap.clap-limit-exceeded svg {
    opacity: 1;
}

.old-post {
background-color:#FFFAF0;
border:1px solid #ED8936;
font-size:.75rem;
margin:0;
padding:.25rem .5rem;
}

.refnotes-tooltip {
position:initial;
}

.refnotes-tooltip:hover {
position:relative;
}

.refnotes-tooltip .refnotes-tooltiptext {
bottom:0;
max-width:0;
}

.refnotes-tooltip:hover .refnotes-tooltiptext {
max-width:275px;
}

button.tc-tag-label,span.tc-tag-label {
border-radius:0;
padding:.2em .3rem;
}

.tc-subtitle {
color:#333;
margin:0 0 .15rem;
}

.krystal-tiddler__frame--hide .share-post {
display:none;
}

.content-list-date {
font-size:.7rem;
white-space: nowrap;
}

.tc-tiddler-controls > span > button[data-share-link] {
	margin: 0 -5px;
	padding: 0;
}

div[data-tiddler-title="Vídeos"] a,
div[data-tiddler-title="Vídeos"] a:link {
display: inline-block;
}


div[data-tiddler-title="Vídeos"] .tc-thumbnail-caption {
    font-size: 0.7rem;
    border-radius: 0;
    padding: 2px;
}

.promo-amazon {
	margin: 28px -48px -48px;
	width: calc(100% + 96px);
}

.krystal-tiddler__frame--hide .promo-amazon {
	display: none;
}

.promo-amazon img {
	margin: 0 0 -5px;
}

.tc-body .fslightbox-container {
    z-index: 99999999;
}

@media screen and (max-width: 768px) {
	header button.tc-tiddlylink {
	margin:.65rem 0;
	padding:.5rem;
	}

	.tc-tiddler-controls button:not([title="Fechar este Tiddler"]) {
	display:none;
	}
	
	.promo-amazon {
		margin: 0;
		width: 100%;
	}

	.promo-amazon img {
		margin: 0;
	}
}